* text=auto

*.sh text eol=lf
gradlew text eol=lf
*.bat text eol=crlf

*.jar binary
*.zip binary
*.xlsx binary
*.png binary

liuyao_app/_vendor/** linguist-vendored
android/web/** linguist-generated=true
android/app/src/main/assets/content.zip linguist-generated=true
